In [6]:
import sys
sys.path.append('..')  # 将父文件夹添加到 Python 路径中，不然找不到下面的包

from utilities.set_env import set_env
from utilities.tushare_limit_up import *

In [7]:
set_env()

instance = TushareLimitUp()
cal_date = instance.getLatestTradeData()

cal_date

'20240315'

limit_list_d接口获取到的数据是收盘价等于涨停板的股票
daily中进行筛选获取涨幅大于10%的股票
两者取股票代码的并集

然后对基础的数据进行合并

In [8]:
df = instance.generate_limit_up_df()

df[:10]

Empty DataFrame
Columns: [ts_code, name, industry, close, pct_chg, amount, circ_mv, total_mv, pb, pe, turnover_rate, turnover_rate_f, limit_amount, fd_amount, first_time, last_time, open_times, up_stat, limit_times]
Index: []

In [9]:
instance.limit_up_df.empty

True

In [13]:
instance.stock_basic_df

        ts_code     name industry
0     000001.SZ     平安银行       银行
1     000002.SZ      万科A     全国地产
2     000004.SZ     国华网安     软件服务
3     000005.SZ     ST星源     环境保护
4     000006.SZ     深振业A     区域地产
...         ...      ...      ...
5350  873706.BJ     铁拓机械     专用机械
5351  873726.BJ     卓兆点胶     机械基件
5352  873806.BJ      云星宇     软件服务
5353  873833.BJ     美心翼申     汽车配件
5354  689009.SH  九号公司-WD      摩托车

[5355 rows x 3 columns]

In [4]:
generate_limit_up_excel(df, cal_date)

已写入路径：./涨停分析-20240314.xlsx